<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Archive.ipa</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://180.169.225.27:7011/apps/Archive.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://180.169.225.27:7011/apps/Archive.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://180.169.225.27:7011/apps/Archive.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hsic.BLRefund</string>
				<key>bundle-version</key>
				<string>1.0.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Refund App download</string>
			</dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3EB7FD4AE98132DD88EFECF94EF62BA64208777E</string>
				<key>dateExpires</key>
				<string>2020/2/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>USW965BQT3.com.hsic.BLRefund</string>
				<key>com.apple.developer.team-identifier</key>
				<string>USW965BQT3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>USW965BQT3.com.hsic.BLRefund</string>
				</array>
			</dict>
			<key>name</key>
			<string>testwkview.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b739df35-38f2-48a1-ae94-91d00ceabdb7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hsic.BLRefund</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>USW965BQT3</string>
				<key>name</key>
				<string>Shanghai Hsic Application System Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
